@import "tailwindcss";

@theme {
  --font-display: var(--font-manrope), sans-serif;
  
  --color-primary: #135bec;
  --color-primary-foreground: #ffffff;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

:root {
  --background: #f6f6f8;
  --foreground: #0d121b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101622;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}

.custom-select-arrow {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}
